.headerBAM {
width: 960px;
height: 63px;
}

.headerBnc {
-moz-box-sizing: border-box;
width: 960px;
height: 26px;
border-bottom-style:solid;
border-bottom-width:3px; 
border-bottom-color:#CE0000;
border-top-style:solid;
border-top-width:4px; 
border-top-color:#DEDFDE;
}

.headerBncSaf {
-moz-box-sizing: border-box;
width: 960px;
height: 19px;
border-bottom-style:solid;
border-bottom-width:3px; 
border-bottom-color:#CE0000;
border-top-style:solid;
border-top-width:4px; 
border-top-color:#DEDFDE;
}

.headerInfo {
width: 960px;
height: 17px;
}

.headerInfoContent {
-moz-box-sizing: border-box;
position:absolute;
left:120; 
text-align:right;
width: 657px;
margin: 0px;
height: 17px;
border-left-style:solid;
border-left-width:1px; 
border-left-color:#DEDFDE;
}

.bnt {
margin: 0px;
padding : 0px;
width: 168px;
-moz-box-sizing: border-box;
border-right-style:solid;
border-right-width:1px; 
border-right-color:#DEDFDE;

}

.bntTitreMenu {
padding-top: 5px;
width: 118px;
margin-left: 2px;
-moz-box-sizing: border-box;
line-height: 25px; 
}


.bntCorpsMenu {
margin: 0px;
padding : 0px;	
width: 120px;
-moz-box-sizing: border-box;
margin-bottom: 0px;
}

.bntCorpsMenuService {
margin: 0px;
padding : 0px;	
width: 120px;
-moz-box-sizing: border-box;
}

/*   Style pour la liste déroulante multi-lignes      */

#bntComptes {
position: relative;
width: 118px;
background-color: #F2F5F2;
color: #999999;
font-size : 8pt;
border: 1px solid #cccccc;
}
#bntComptes table{
font-size : 8pt; 
font-family: Verdana, arial, helvetica, sans-serif;
border:0;
color: #999999;
}
#bntComptes a {
text-decoration: none;
text-transform: uppercase;
display: block;
font-family: Verdana, arial, helvetica, sans-serif;
border:0;
padding:0;
margin:0;
z-index: 97;
}
#bntComptesListe{
position: absolute;
overflow:auto;
height: 130px;
width: 120px;
border:0;
padding:0;
margin:0;
z-index: 98;
margin-left:5px;
}
#bntComptesListe > table{
border:0;
padding:0;
margin:0;
width: 100%;
}
.bntComptesListeItem {
padding: 0;
background-color: #F2F5F2;
color: #999999;
border:0;
margin:0;
z-index: 99;
}
.bntComptesListeItem {
padding:0;
margin:0;
width: 100%;
border: 0;
font-size: 7pt;
}
.bntComptesListeItemTxtTd {
font-size: 7pt;
border-bottom:1px solid white;
}
.bntComptesListeItemImgTd {
padding-right: 2px;
border-right: 2px solid #999999;
border-bottom:1px solid white;
}
.bntComptesListeItem img{
border:0;
padding:0;
margin:0;
}
.bntComptesListeItem a:hover, .bntComptesListeItem td:hover {
/*
  Géré dans BNT.jsp a cause de l'incapacité d'IE6 à bien gérer le CSS
*/
}
.bntfinListe{
padding:0;
margin:0;
height:2px;
background-color:#999999;
padding-left:5px;
}
