body {
    background-color: #091B2E;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Aligner les éléments à la fin de la page */
    align-items: center; /* Centrer verticalement */
    height: 100vh;
}

#container {
    max-width: 1200px;
    margin-left: auto; /* Déplacer le conteneur vers la gauche pour aligner à droite */
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligner les boutons à droite */
}

.button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.button:hover {
    background-color: green;
}
