/*#taille_textee{
    font-size: 85px;
    width: 360px;
}
#taille_texteee{
    font-size: 85px;
    width: 440px;
}
#taille_texteeee{
    font-size: 85px;
    width: 400px;
}*/
#texte_lol{
    width: 500px;
}