html {
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: pink;
}

header{
    height: 100px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    background: linear-gradient(to top, pink, white);
}

.container_main {
    max-width: 100%;

    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.h1_principal{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}
section {
    display: flex;
    justify-content: center;
}

.div_title{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    max-width: 600px;
}

.kalkala {
    color: red;
    font-size: 50px;
    font-weight: bold;
}

#extra {
    flex: 1.2;
    padding: 1em;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar{
    flex: 1;
    padding: 1em;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#content1 {
    flex: 1.2;
    max-width: 100%;
    padding: 1em;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verse {
    width:100%;
    text-align: justify;
    word-wrap: break-word;
    border-left: 5px solid transparent;
}

#quranContent, #tajweedContent {
    font-family: 'Scheherazade', serif;
    font-size: 30px;
    max-width: 500px;
}

.title_h2 {
    display: flex;
    justify-content: space-between; /* Rétablit la séparation entre les mots arabes et français */
    max-width: 600px;
}

.title_h2 span:first-child {
    margin-right: 10px; /* Ajoute une marge pour séparer les mots arabes et français */
}

button{
    max-width: 300px;
    font-size: 24px;
    text-align: center;
}

/* Styles pour les boutons Tajweed et champ de saisie */
#sidebar button, #sidebar input {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

/* Styles pour le bouton et la boîte de texte Quran */
#pageNumberInput {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

input{
    max-width: 200px;
}

span{
    display: block;
}


#BAbutton {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

  #BAbutton button {
    margin-right: 30px;
    margin-left: 30px;
  }

.highlight{
    color: blue;
    font-weight: bold;
    font-size: larger;
}
        
footer {
    margin-top: 200px;
    font-family: monospace;
    font-weight: bold;
    background-color: white;
    height: 300px;
    border-radius: 60px 60px 0px 0px;/*arrondi de 60 pixel sur les deux coins du haut*/
    width: 100%;
}

#div_footer {
    padding-top: 20px;
    width: 40%;
    height: 215px;
    margin-left: auto;/* centrer horizontalement*/
    margin-right: auto;/* centrer horizontalement*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


ul{
    font-size: 20px;
}




#i1foot{
    color: #C32AA3;
}

#i2foot{
    color: #ff0050;
}


.arrow {
    height: 50px;
    width: 50px;
    position: fixed;/*pour que l'élément reste sur l'écran malgré le défilement*/
    bottom: 50px;
    right: 50px;
    border: 3px black solid;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;/*pour que le curseur change au survolement de la souris*/
}


.arrow i {
    position: absolute;/*L'élément est retiré du flux normal et aucun espace n'est créé pour l'élément sur la page.*/
    top: 23px;
    left: 9px;
    color: rgb(250, 173, 173);
}

.arrow2 {
    height: 50px;
    width: 50px;
    position: fixed;/*pour que l'élément reste sur l'écran malgré le défilement*/
    bottom: 50px;
    right: 110px;
    border: 3px black solid;/*donner une bordure*/
    border-radius: 50%;/*donnre une forme ronde*/
    background-color: black;
    cursor: pointer;/*pour que le curseur change au survolement de la souris*/
}


.arrow2 i {
    position: absolute;/*L'élément est retiré du flux normal et aucun espace n'est créé pour l'élément sur la page.*/
    top: 23px;
    left: 9px;
    color: rgb(250, 173, 173);
}

.center_h2 {
    text-align: center;
    margin: 0;
}



@media screen and (max-width: 768px) {
    .h1_principal {
        font-size: 40px;
    }

    #part2footer{
        margin: 0;
        padding-top: 50px;
    }
    footer{
        height: 500px;
        width: 100%;
    }
    #div_footer{
        height: 300px;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}