input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: start;
    border: solid;
    border-width: 5px;
    border-color: black;
    border:6px outset #F7730E;
    
  }

  input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  input[type=date]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-width: 5px;
    border-color: black;
    border:6px outset #F7730E;
  }
  .form_1{
    margin-right: 70px;
    margin-bottom: 20px;
    margin-top: -80px;
  }
  .form-label_1{
    border: solid;
    border-width: 5px;
    border-color: black;
    padding: 10px;
    margin-right: 55px;
  }
  .form-label_2{
    border: solid;
    border-width: 5px;
    border-color: green;
    padding: 10px;
    margin-right: 55px;
  }
  .form-label_3{
    border: solid;
    border-width: 5px;
    border-color: violet;
    padding: 10px;
  }
  .form-label_4{
    border: solid;
    border-width: 5px;
    border-color: peru;
    padding: 10px;
    margin-right: 68px;
  }
  
  

  